.profile__user-description {
	max-width: 280px;
	margin: 0;
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 640px) {
	.profile__user-description {
		max-width: 282px;
		font-size: 14px;
		line-height: 17px;
	}
}