.profile__info-container {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-template-rows: auto;
	align-content: center;
	align-items: center;
	gap: 16px 18px;
}
@media screen and (max-width: 360px) {
    .profile__info-container {
    		margin-bottom: 36px;
    		text-align: center;
    		gap: 14px 10px;
    	}
}