.profile__info-container {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-template-rows: auto;
	align-content: center;
	align-items: center;
	column-gap: 18px;
}

@media screen and (max-width: 640px) {
	.profile__info-container {
		margin-bottom: 36px;
		margin-left: 20px;
		text-align: center;
		column-gap: 10px;
	}
}